.container{
    position: relative;
}

.container canvas, .overlay {
    position: absolute;
}

canvas {
    border: 1px solid black
}

.overlay{
    text-align: center;
    margin: 2em;
    padding: 0.5em;
    border: 1px solid red
}